.DS_Store
Lennart/IB/week4lesib/week4lesib.xcodeproj/xcuserdata/Lennartvm.xcuserdatad/xcschemes/xcschememanagement.plist

iCanHasFoodPlz/iCanHasFoodPlz.xcodeproj/xcuserdata/Marijn.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iCanHasFoodPlz/iCanHasFoodPlz.xcodeproj/project.xcworkspace/xcuserdata/Marijn.xcuserdatad/UserInterfaceState.xcuserstate

iCanHasFoodPlz/iCanHasFoodPlz.xcodeproj/project.xcworkspace/xcuserdata/Lennartvm.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store
